<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body>
<h2>中餐厅嘉宾列表</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>姓名</td>
                <td>角色</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="guest:${guests}">
                <td th:text="*{guest.guestName}">name</td>
                <td th:text="*{guest.role}">role</td>
                <td><a href="/guest/toupdate" th:href="@{/guest/toupdate/}+${guest.guestName}">修改</a></td>
                <td><button th:attr="del_url=@{/guest/}+${guest.guestName}" name="del_button">删除</button></td>
            </tr>
        </tbody>
    </table>
    <a href="/guest/add" th:href="@{/guest/add}">增加</a>

    <form method="post" id="del_form">
        <input type="hidden" name="_method" value="delete">
    </form>

<script>
    $(function () {
        $("button[name='del_button']").click(function () {
            $("#del_form").prop("action",$(this).attr("del_url")).submit();
        });
    });
</script>

</body>
</html>